<div class="row">
    <form action="#" class="col s12 m12 offset-l12">
        <div class="row">

            <!-- header -->
            <div class="input-field col s12 m12 l12 flow-text">
                <textarea class="materialize-textarea" id="reading-question-header-{{question.id}}"
                          [attr.disabled]="question.state !== 'edit' ? true : null"
                          [(ngModel)]="question.header"
                          name="reading-question-header-{{question.id}}"></textarea>
                <label [attr.for]="'reading-question-header-' + question.id">Task description</label>
            </div>

            <!-- text -->
            <div class="input-field col s12 m12 l12 flow-text">
                <textarea class="materialize-textarea" id="reading-question-question-{{question.id}}"
                          [attr.disabled]="question.state !== 'edit' ? true : null"
                          [(ngModel)]="question.text"
                          name="reading-question-question-{{question.id}}"></textarea>
                <label [attr.for]="'reading-question-question-' + question.id">Text</label>
            </div>

            <!-- difficulty -->
            <div class="input-field col s12 m12 l12 flow-text">
                <input id="reading-question-difficulty-{{question.id}}"
                       [attr.disabled]="question.state !== 'edit' ? true : null"
                       placeholder="Complexity (between 1 and 100)"
                       type="number" min="1" max="100" class="validate"
                       [(ngModel)]="question.difficulty"
                       name="reading-question-difficulty-{{question.id}}"/>
                <label [attr.for]="'reading-question-difficulty-' + question.id" class="active" data-error="wrong">Task
                    complexity</label>
            </div>

            <!-- add subquestions -->
            <div class="col s12 m12 l12" align="center" [ngSwitch]="question.state">
                <a *ngSwitchCase="'edit'" class="waves-effect btn-flat modal-trigger"
                   materialize="leanModal" [materializeParams]="[{dismissible: false}]"
                   id="reading-question-add-subquestions-btn-edit-{{question.id}}"
                   [attr.href]="'#chooseSubQuestion'">
                    <i class="material-icons blue-text">add</i>
                </a>
                <a *ngSwitchDefault class="waves-effect btn-flat disabled"
                   id="reading-question-add-subquestions-btn-done-{{question.id}}">
                    <i class="material-icons grey-text">add</i>
                </a>
            </div>

            <!-- modal for sub-questions -->
            <div id="chooseSubQuestion" class="modal bottom-sheet">
                <div class="modal-content">
                    <p class="flow-text">Please, select question type to add</p>
                    <form action="#">
                        <div class="col s12" *ngFor="let question of questionsCatalog; let i = index">
                            <input [attr.id]="'question-catalog-options-' + i"
                                   type="checkbox" class="filled-in"
                                   [checked]="question['checked']"
                                   (change)="changeState(i)"
                                   name="question-catalog-options-{{i}}"/>
                            <label [attr.for]="'question-catalog-options-' + i">
                                {{question['type']}}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    <a class="modal-action modal-close waves-effect waves-green btn-flat"
                       (click)="addSubQuestion()">Select</a>
                </div>
            </div>

            <!-- subquestions -->
            <div class="col s12 m12 l12">
                <ul class="sub-questions-list collection grey lighten-5">
                    <li class="collection-item sub-question" *ngFor=" let item of question.subQuestions; let i = index"
                        [ngClass]="item['state']">
                        <div [ngSwitch]="item['type']">
                            <div *ngSwitchCase="'TestQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Test Sub-Question</h6>
                                <test-question-component [question]="item"
                                                         (notify)="onQuestionCreate($event, i)">
                                </test-question-component>
                            </div>
                            <div *ngSwitchCase="'InsertOpenQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Open-Insert Sub-Question</h6>
                                <insert-open-question-component [question]="item"
                                                                (notify)="onQuestionCreate($event, i)">
                                </insert-open-question-component>
                            </div>
                            <div *ngSwitchCase="'InsertTestQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Insert Test Sub-Question</h6>
                                <insert-test-question-component [question]="item"
                                                                (notify)="onQuestionCreate($event, i)">
                                </insert-test-question-component>
                            </div>
                            <div *ngSwitchCase="'OpenQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Open Sub-Question</h6>
                                <open-question-component [question]="item"
                                                         (notify)="onQuestionCreate($event, i)">
                                </open-question-component>
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </form>

    <div class="col s12 m12 l12" [ngSwitch]="question.state" align="center">
        <a *ngSwitchCase="'edit'" class="waves-effect btn-flat" id="reading-question-finish-btn-{{question.id}}"
           (click)="onCreateFinish()"><i class="material-icons green-text">done</i></a>
        <a *ngSwitchCase="'done'" class="waves-effect btn-flat" id="reading-question-edit-btn-{{question.id}}"
           (click)="onEditStart()"><i class="material-icons orange-text">mode_edit</i></a>
        <a class="waves-effect btn-flat" id="reading-question-abort-btn-{{question.id}}"
           (click)="onCreateAbort()"><i class="material-icons red-text">delete</i></a>
    </div>
</div>