<div class="valign-wrapper ">
    <div class="container valign">
        <div class="row" align=center>


            <div *ngIf="testInfo.status==='availTest'" class="col s12 m7 l7 card-width" align=center>
                <div class="card #fafafa grey lighten-5 valign">
                    <div class="card-content" align=center style="min-height:250px">
                        <span class="card-title">Current Test</span>
                        <p class="green-text">Test Description</p>
                        <div class="card-content" align="center">
                            <p>Test duration:{{testInfo.time}}</p>
                            <p>Number of questions:{{testInfo.numQuestions}}</p>

                            <p class="card-content" align="center">Press button "Start" to start English Test.</p>
                        </div>
                    </div>
                    <div class="card-action" align=center>
                        <a class="waves-effect default btn" [routerLink]="['/runTest']">Start</a>
                    </div>
                </div>
            </div>

            <div *ngIf="testInfo.status==='notAvailTest'" class="col s12 m7 l7 card-width" align=center>
                <div class="card #fafafa grey lighten-5 valign">
                    <div class="card-content" align=center style="min-height:250px">
                        <span class="card-title">Current Test</span>
                        <p class="red-text">Nobody appointed you any test</p>
                        <p class="card-content">You can ask for it</p>
                    </div>
                    <div class="card-action" align=center>
                        <a class="waves-effect default btn" [routerLink]="['/showTests']">Ask</a>
                    </div>
                </div>
            </div>


            <div *ngIf="testInfo.status==='requestedTest'" class="col s12 m7 l7 card-width" align=center>
                <div class="card #fafafa grey lighten-5 valign">
                    <div class="card-content" align=center style="min-height:250px">
                        <span class="card-title">Current Test</span>
                        <p class="red-text">Nobody appointed you any test</p>
                        <p class="card-content">You've already ask for test</p>
                    </div>
                    <div class="card-action" align=center>
                        <a class="waves-effect default btn" [routerLink]="['/logo']">Back</a>
                    </div>
                </div>
            </div>


            <div *ngIf="testInfo.status==='requestedTest'" class="col s12 m7 l7 card-width " align=center>
                <div class="card #fafafa grey lighten-5 valign ">
                    <div class="card-content" align=center style="min-height:250px">
                        <span class="card-title">Current Test</span>
                        <p class="red-text">Nobody appointed you any test</p>
                        <p class="card-content">You've already ask for test</p>
                    </div>
                    <div class="card-action" align=center>
                        <a class="waves-effect default btn" [routerLink]="['/logo']">Back</a>
                    </div>
                </div>
            </div>


            <div class="col s12 offset-m1 m4 offset-l1 l4 card-width" align=center>
                <div class="card #fafafa grey lighten-5 valign">
                    <div class="card-content" align=center style="min-height:250px">
                        <span class="card-title">Past Tests</span>
                        <p class="card-content">Check out your previous attempts</p>
                    </div>
                    <div class="card-action" align=center>
                        <a class="waves-effect default btn" [routerLink]="['/showTests']">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



