<div class="page-flexbox-wrapper">
    <header>
        <nav class="black navbar-fixed" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a></div>
        </nav>
    </header>
    <br>

    <main class="valign-wrapper">

        <login-form>

        </login-form>

    </main>

    <footer>
        <footer class="page-footer" style="background-color: #000000">
            <div class="footer-copyright">
                <div class="container">
                    Copyright
                </div>
            </div>
        </footer>
    </footer>
</div>
