<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/login/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login/style.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login/text.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div class="page-flexbox-wrapper">
    <header>
        <nav class="black navbar-fixed" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a></div>
        </nav>
    </header>

    <main class="valign-wrapper">
        <div class="container valign">
            <div class="row">
                <div class="col m5 offset-m1 s12">
                    <div class="text text-title">Welcome to Project Name</div>
                    <div class="text text-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
                        consequuntur fuga architecto dolores at praesentium totam, quo rem, nostrum nisi fugiat
                        provident dolorum doloribus. Corporis blanditiis aperiam assumenda neque voluptas!
                    </div>
                </div>
                <div class="col m5 offset-m1 s12">
                    <div class="card-panel">

                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="login-field" type="text" class="validate">
                                <label for="login-field">Login</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="password-field" type="text" class="validate">
                                <label for="password-field">Password</label>
                            </div>
                        </div>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn" id="login-btn"
                               style="width: 80%; background-color: #000000;">login</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <footer class="page-footer" style="background-color: #000000">
            <div class="footer-copyright">
                <div class="container">
                    Copyright Text
                </div>
            </div>
        </footer>
    </footer>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/login/materialize.min.js"></script>

</body>
</html>