/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

main {
    flex: 1 1 auto;
    margin-top: 22px;
}

.route {
    width: 100%;
}

.list-overflow-y {
    overflow-y: scroll;
    position: relative;
}

.notifications-list {
    min-height: 246px;
    max-height: 255px;
}

.teacher-list {
    min-height: 246px;
    max-height: 255px;
}

.teacher-container {
    width: 100%;
}

.questions-list {
    min-height: 100px;
}

.empty-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.valid-answer {
    border-color: #27b327 !important;
}

.invalid-answer {
    border-color: #ff7479;

}

.has-enough-time {
    color: #27b327;
    transition: color 20000ms linear;
}

.has-middle-amount-of-time {
    color: #ff8d38 !important;
    transition: color 20000ms linear;
}

.has-few-time {
    color: #d8363a !important;
}

.timer-style {
    /*width: 180px;*/
    /*box-shadow: 7px 7px 5px rgba(95, 95, 95, 0.6);*/
    /*padding: 8px;*/
    /*border-radius: 10px;*/
    /*font-size: xx-large;*/
    vertical-align: baseline;
}

.logo {
    width: 160px;
    padding-top: 12px !important;
}

.teacher textarea{
    pointer-events:none !important;
}

.teacher input{
    pointer-events:none !important;
}

.teacher select{
    pointer-events:none !important;
}

.no-display-style{
    display: none;

}

.display-style{
    display: initial;

}

.carousel-content-custom {
    margin-top: -40px !important;
}

.add-question-btn {
    margin-top: 22px;
    margin-bottom: 22px;
}


.teacher-checking-button{
    padding-bottom: 15px;
}

a .disabled {
    pointer-events: none;
    cursor: default;
}

.edit {
    box-shadow: inset 0 0 10px #009688;
    -moz-box-shadow: inset 0 0 10px #009688;
    -webkit-box-shadow: inset 0 0 10px #009688;
}

.questions-list > li,
.sub-questions-list > li {
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
}

.edit .sub-question {
    box-shadow: inset 0 0 5px #ffc107;
    -moz-box-shadow: inset 0 0 5px #ffc107;
    -webkit-box-shadow: inset 0 0 5px #ffc107;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.instraction-modal {
    padding-right: 8%;
}

.parent-child-btn {
    padding-left: 18%;

}

.notifications {
    position: fixed;
    top: 297px;
    transform: translateY(-50%);
}

.add-icon-container {
    padding: 20%;
}

.parent-of-badge {
    overflow: visible;
    position: relative;
    width: 100%;
    min-height: 200px;
}

.badge-gif {
    /*height: 100%;*/
    position: absolute;
    right: 0;
    top: 0;
}

.login-btn {
    width: 70%;
}

#notificationModal {
    background-color: #FAFAFA;
}