<div *ngIf="role==='nobody'">
    loading...
</div>
<div *ngIf="role==='user'">
    <div class="row">
        <div class="col l10 m10 s10 offset-m1 offset-l1 offset-s1">
            <div class="card medium #fafafa grey lighten-5 valign">
                <div class="card-content flow-text" align=left>
                    <div class="text">"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                    <div>"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                    <a style="display: inline-block;" (click)="exit()">главной странице</a>
                    <div>"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                </div>
            </div>
        </div>
    </div>
</div>
