<div *ngIf="role==='nobody'">
    loading...
</div>
<div *ngIf="role==='user'">
    <div class="container valign">
        <div class="card #fafafa grey lighten-5 valign">
            <div class="row">
                <div class="col m5 offset-m1 s12">
                    <div>
                        <div class="text">"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                        <div>"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                        <a style="display: inline-block;" (click)="exit()">главной странице</a>
                        <div>"bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>