<div *ngIf="question.type==='test'">
    <div class="row">
        <div class="col s12 m5 l8 card-width offset-l1" align=center>
            <div class="card #fafafa grey lighten-5 valign">
                <div class="card-content" align=left>
                    <div>
                        <blockquote>{{question.description}}</blockquote>
                    </div>
                    <p class="black-text">{{question.info}}</p>
                </div>
            </div>
            <form action="#">
                <p *ngFor="let option of question.opt; let i = index">
                    <input id={{i}} type="checkbox" [checked]="option['checked']"
                           (change)="changeCheckState(i)">
                    <label [attr.for]="i">{{option.name}}</label>
                </p>
            </form>
            <button class="btn waves-effect waves-light left" type="submit" name="action" (click)="nextQuestion()">Send<i
                    class="material-icons right" >send</i></button>
        </div>
    </div>
</div>
<div *ngIf="question.type==='open'">
    <div class="row">
        <div class="col s12 m12 l9 offset-l1">
            <div class="card #fafafa grey lighten-5 valign">
                <div class="card-content" align=left>
                    <div>
                        <blockquote>{{question.description}}</blockquote>
                    </div>
                    <div class="row">
                        <div class="left">{{question.description}}
                            <input placeholder="enter your answer" type="test" class="validate">
                            {{question.info}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action center">
        <button class="btn waves-effect waves-light center" type="submit" name="action">Send
            <i class="material-icons right">send</i></button>
    </div>
</div>
<div *ngIf="question.type==='listening'">
    <div class="row">
        <!--i class="large material-icons circle red">volume_up</i-->
        <div class="col s12 m12 l9 offset-l1">
            <blockquote>{{question.description}}</blockquote>
        </div>
    </div>
    <div class="card-action center">
        <a class="btn-floating btn-large grey" style="width: 100pt; height: 100pt;"  name="action" (click)="playAydio()">
            <div style="display: table; height: 100%; position: absolute; overflow: hidden; width: 100%;">
                <div style="display: table-cell; vertical-align: middle;">
            <i class="material-icons" style="font-size: 70pt; margin: 0 auto">volume_up</i></div></div>
        </a>
        <!--button class="btn waves-effect waves-light center" type="submit" name="action" (click)="playAydio()">listen
            <i class="material-icons">volume_up</i>
        </button-->
    </div>
</div>
<div *ngIf="question.type==='reading'">
    <div class="row">
        <div class="col s12 m5 l8 card-width offset-l1" align=center>
            <div class="card #fafafa grey lighten-5 valign">
                <div class="card-content" align=left>
                    <div>
                        <blockquote>{{question.description}}</blockquote>
                    </div>
                    <p class="black-text">{{question.info}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action center">
        <button class="btn waves-effect waves-light center" type="submit" name="action">let's start<i
                class="material-icons right">send</i></button>
    </div>
</div>
<div *ngIf="question.type==='open1'">
    <div class="row">
        <div class="col s12 m12 l9 offset-l1">

            <div class="card #fafafa grey lighten-5 valign">
                <div class="card-content" align=left>
                    <div>
                        <blockquote>{{question.description}}</blockquote>
                    </div>
                    <div class="row">
                        <div class="left">{{question.description}}
                            <select class="browser-default" style="width: 150px; height:30px; display: inline-block;"
                                    [(ngModel)]="question.answer">
                                <option *ngFor="let opt of controlNames" [value]="opt">{{opt}}</option>
                            </select>
                            {{question.info}}
                            <br>
                            User answered {{question.answer}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action center">
        <button class="btn waves-effect waves-light center" type="submit" name="action">Send
            <i class="material-icons right">send</i></button>
    </div>
</div>