<div *ngIf="status==='teacher'">
    <teacher-component></teacher-component>
</div>

<div *ngIf="status==='admin'">
    <div class="container col m4 card-width" align=center>

        <div class="card #fafafa grey lighten-5">
            <div class="card-content" align=center>
                <span class="card-title">Users control panel</span>
            </div>
            <div class="card-action" align=center>
                <a class="waves-effect default btn start-button button-margin">Add user</a>
                <a class="waves-effect default btn start-button button-margin">User info</a>
            </div>
        </div>


        <div class="card #fafafa grey lighten-5">
            <div class="card-content" align=center>
                <span class="card-title">Tests control panel</span>
            </div>
            <div class="card-action" align=center>
                <a class="waves-effect default btn start-button button-margin">Create</a>
                <a class="waves-effect default btn start-button button-margin">Modify</a>
            </div>
        </div>
    </div>

    <div class="container col m8 " valign=top>
        <div class="line-width">
            <div>
                <span class="text-title">Notifications</span>
            </div>
            <span>User1 requests to get the test</span>
            <a class="waves-effect default btn float-right button-margin">Decline</a>
            <a class="waves-effect default btn float-right button-margin">Accept</a>
        </div>

        <div class="line-width">
            <div class="text-title">Notifications</div>
            <span>User2 requests to get the test</span>
            <a class="waves-effect default btn float-right button-margin">Decline</a>
            <a class="waves-effect default btn float-right button-margin">Accept</a>
        </div>
    </div>
</div>

<div *ngIf="status==='user'">
     <user-component></user-component>
</div>
