<div class="page-flexbox-wrapper">
	<header-component></header-component>

	<main [class.valign-wrapper]="checkPath()">
		<div class="route">
			<router-outlet></router-outlet>
		</div>
	</main>

	<footer class="grey lighten-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<div class="black-text">Footer Content</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container black-text">
				Copyright Text
			</div>
		</div>
	</footer>
</div>
