/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

main {
    flex: 1 1 auto;
    margin-top: 84px;
}

.route {
    width: 100%;
}

.list-overflow-y {
    overflow-y: scroll;
    position: relative;
}

.notifications-list {
    min-height: 246px;
    max-height: 255px;
}

.questions-list {
    min-height: 100px;
}

.empty-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.valid-answer {
    border-color: #27b327 !important;
}

.invalid-answer {
    border-color: #ff7479;

}

.has-enough-time {
    color: #27b327;
    transition: color 20000ms linear;
}

.has-middle-amount-of-time {
    color: #ff8d38 !important;
    transition: color 20000ms linear;
}

.has-few-time {
    color: #d8363a !important;
}

.timer-style {
    width: 160px;
}

.progress-bar-style {

}

.logo {
    width: 160px;
    padding-top: 12px !important;
}

.carousel-custom {

}

/*don't delete, this is for teacher carousel*/
.carousel-content-custom {
    margin-top: -40px !important;
}

.add-question-btn {
    margin-top: 22px;
    margin-bottom: 22px;
}
