/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

main {
    flex: 1 1 auto;
}

.list-overflow-y {
    overflow-y: scroll;
    position: relative;
}

.notifications-list {
    height: 425px; /* 338px for 4 rows; 255px for 3 rows */
    /*min-height: 64px;*/
    /*max-height: 425px;*/
}

.questions-list {
    min-height: 100px;
    max-height: 525px;
}

.empty-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teacher-card-content {
    word-wrap: break-word !important;
}

.valid-answer{
    border-color: #27b327 !important;
}

.invalid-answer{
    border-color: #ff7479;

}

.has-enough-time{
    color: #27b327;
    transition: color 20000ms linear;
}

.has-middle-amount-of-time{
    color: #ff8d38 !important;
    transition: color 20000ms linear;
}

.has-few-time{
    color: #d8363a !important;
}

.timer-style{
    width: 160px;
}

.progress-bar-style{

}
