<!-- TODO: (pay attention) Still much inline styles move all in classes-->
<div *ngIf="status!==''">
    <div class="valign-wrapper ">
        <div class="container valign">
            <div class="row" align=center>

                <div *ngIf="status==='available' || status==='run'" class="col s12 m6 l6 card-width" align=center>
                    <div class="card white valign">
                        <div class="card-image">
                            <div align="center" class="parent-of-badge">
                                <img class="badge-gif" src="app/user/runTest/img/testToRun.gif">
                            </div>
                        </div>
                        <div class="card-content" align=center style="min-height:250px">
                            <p class="green-text">You have a new test to pass</p>
                            <div class="card-content" align="center">
                                <br>
                                <p>Test duration: {{time}} minutes</p>
                                <p>Number of questions: {{numQuestions}}</p>
                                <p class="card-content" align="center">Press button "Start" to start English Test.</p>
                            </div>
                        </div>
                        <div class="card-action" align=center>
                            <a class="waves-effect default btn" (click)="runTest()">Start</a>
                        </div>
                    </div>
                </div>



                <div *ngIf="status==='notAvailable'" class="col s12 m6 l6 card-width" align=center>
                    <div class="card white valign">
                        <div class="card-image">
                            <div align="center" class="parent-of-badge">
                                <img class="badge-gif" src="app/user/runTest/img/bell.gif">
                            </div>
                        </div>
                        <div class="card-content" align=center style="min-height:250px">
                            <br>
                            <p class="red-text">Nobody appointed you any test</p>
                            <p class="card-content">You can ask for it</p>
                        </div>
                        <div class="card-action" align=center>
                            <a class="waves-effect default btn" (click)="askTest()">Ask</a>
                        </div>
                    </div>
                </div>


                <div *ngIf="status==='requested'" class="col s12 m6 l6 card-width" align=center>
                    <div class="card white valign">
                        <div class="card-image">
                            <div align="center" class="parent-of-badge">
                                <img class="badge-gif" src="app/user/runTest/img/waiting.gif">
                            </div>
                        </div>
                        <div class="card-content" align=center style="min-height:250px">
                            <br>
                            <p class="card-content">You've already asked for test</p>
                        </div>
                        <div class="card-action" align=center>
                            <a class="waves-effect default btn" [routerLink]="['/logo']">Back</a>
                        </div>
                    </div>
                </div>


                <div class="col s12 m6 l6 card-width" align=center>
                    <div class="card white valign">
                        <div class="card-image">
                            <div align="center" class="parent-of-badge">
                                <img class="badge-gif" src="app/user/runTest/img/mac_chart.gif">
                            </div>
                        </div>
                        <div class="card-content" align=center style="min-height:250px">
                            <br>
                            <p class="card-content">Check out your previous attempts</p>
                        </div>
                        <div class="card-action" align=center>
                            <a class="waves-effect default btn" [routerLink]="['/showTests']">Show</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="status ===''">
    loading...
</div>
<!--speech-recorder></speech-recorder-->
<play-audio></play-audio>