<div class="card">
    <div class="card-content black-text">
        <div class="card-title flow-text" align="center">Add questions</div>

        <div class="row">
            <div class="col s12 m12 l12">
                <ul class="questions-list collection with-header grey lighten-5">
                    <li class="collection-item" *ngFor=" let item of questionsList; let i = index"
                        [ngClass]="item['state']">
                        <div [ngSwitch]="item['type']">
                            <div *ngSwitchCase="'TestQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Test Question</h6>
                                <test-question-component [question]="item"
                                                         (notify)="onQuestionCreate($event, i)">
                                </test-question-component>
                            </div>
                            <div *ngSwitchCase="'InsertOpenQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Open-Insert Question</h6>
                                <insert-open-question-component [question]="item"
                                                                (notify)="onQuestionCreate($event, i)">
                                </insert-open-question-component>
                            </div>
                            <div *ngSwitchCase="'InsertTestQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Insert Test Question</h6>
                                <insert-test-question-component [question]="item"
                                                                (notify)="onQuestionCreate($event, i)">
                                </insert-test-question-component>
                            </div>
                            <div *ngSwitchCase="'OpenQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Open Question</h6>
                                <open-question-component [question]="item"
                                                         (notify)="onQuestionCreate($event, i)">
                                </open-question-component>
                            </div>
                            <div *ngSwitchCase="'SpeechQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Speech Question</h6>
                                <speech-question-component [question]="item"
                                                           (notify)="onQuestionCreate($event, i)">
                                </speech-question-component>
                            </div>
                            <div *ngSwitchCase="'ReadingQuestion'">
                                <h6 class="flow-text">{{i + 1}}. Reading Question</h6>
                                <reading-question-component [question]="item"
                                                            (notify)="onQuestionCreate($event, i)">
                                </reading-question-component>
                            </div>
                            <div *ngSwitchDefault></div>
                        </div>
                    </li>

                    <li>
                        <div class="add-question-btn" align="center" [ngSwitch]="isEditModeOn()">
                            <a *ngSwitchCase="false" materialize="leanModal"
                               [materializeParams]="[{dismissible: false}]"
                               class="btn-floating btn-large waves-effect waves-light red modal-trigger"
                               [attr.href]="'#chooseQuestion'">
                                <i class="material-icons">add</i>
                            </a>
                            <a *ngSwitchDefault
                               class="btn-floating btn-large waves-effect waves-light red disabled">
                                <i class="material-icons">add</i>
                            </a>
                        </div>

                        <div id="chooseQuestion" class="modal bottom-sheet">
                            <div class="modal-content">
                                <p class="flow-text">Please, select question type to add</p>
                                <form action="#">
                                    <div class="col s12" *ngFor="let question of questionsCatalog; let i = index">
                                        <input [attr.id]="'question-catalog-options-' + i"
                                               type="checkbox" class="filled-in"
                                               [checked]="question['checked']"
                                               (change)="changeState(i)"
                                               name="question-catalog-options-{{i}}"/>
                                        <label [attr.for]="'question-catalog-options-' + i">
                                            {{question['type']}}
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                <a class="modal-action modal-close waves-effect waves-green btn-flat"
                                   (click)="addNewQuestion()">Select</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="card-action" align="center">
        <a class="waves-effect waves-light btn"
           [ngClass]="isEditModeOn() || questionsList.length === 0 ? 'disabled' : ''"
           (click)="sendAllQuestions()">Add all created questions</a>
    </div>
</div>